.device {
  position: relative;
  width: 100%;
}

.device-header {
  border-bottom: solid var(--Neutral3) 1px;
  display: flex;
  justify-content: center;
  height: 40px;
  color: var(--Neutral8);
  max-height: 40px;
  align-items: center;
}
.back-icon {
  color: var(--Neutral8);
  padding-left: 50px;
  max-height: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 30%;
}

.device-content {
  width: 320px;
  line-height: 2;
}

.device-row {
  display: flex;
  border-bottom: solid var(--Neutral3) 1px;
}

.device-image {
  height: 257px;
  margin-right: 32px;
}

.device-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.device-feature-name {
  color: var(--Neutral8);
  font-weight: 400;
  font-size: 14px;
  margin-right: auto;
}

.device-feature-info {
  color: var(--Neutral8);
  font-weight: 400;
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .device-container {
    flex-direction: column;
  }
  .device-image {
    height: 200px;
    margin-right: 0;
    margin-bottom: 32px;
  }
  .device-content {
    width: 100%;
  }
  .back-icon {
    padding-left: 16px;
  }
  .device-container {
    width: 80%;
  }
}
